{% extends 'base.html.twig' %}

{% block title %}
    
{% endblock %}

{% block body %}
    
	BYE BYE WORLD!!! :(
	</br>
	</br>
	</br>
	<a href="/hello" class="btn btn-default" role="button">Hello World</a>
        
{% endblock %}