{% extends 'base.html.twig' %}

{% block title %}
    
{% endblock %}

{% block body %}
    
	HELLO WORLD!!! :D
	</br>
	</br>
	</br>
        
        
<a href="/byebye" class="btn btn-default" role="button">Bye Bye</a>
        

        

{% endblock %}