{% extends 'base.html.twig' %}

{% block body %}
    <p>Kalkulator wspiera podawanie wartości przez URL w formacie /calc/var1/func/var2</p>
    <p>Wspierane działania to + - * /</p>
    
    {% endblock %}
